/* Set up variables */
.poiret-one-regular {
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  font-style: normal;
}


:root {
    /* --- Colors --- */
    --primary-color: #007bff;          /* Blue */
    --secondary-color: #6c757d;        /* Gray */
    --accent-color: #28a745;           /* Green */
    --text-color-dark: #333333;
    --text-color-light: #ffffff;
    --background-light: #f8f9fa;
    --background-dark: #343a40;

    /* --- Fonts --- */
    --font-family-stylized: "Poiret One", sans-serif;
    --font-family-body: 'Roboto', sans-serif;
    --font-family-heading: 'Montserrat', sans-serif;
    --font-size-small: 0.8rem;
    --font-size-base: 1rem;
    --font-size-large: 1.25rem;
    --font-size-h1: 2.5rem;
    --font-size-logo: 3.2rem;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --font-weight-stylized: 1000;

    /* --- Other --- */
    --border-radius-base: 0.25rem;
    --spacing-md: 1rem;
    --paper-pic-size-phone: 250px;
    --paper-pic-size: 150px;
}

h1, h2, h3, h4, h5 {
    font-family: var(--font-family-heading);
    color: var(--secondary-color);
}

.small {
    font-size: var(--font-size-small);
    margin: 0px;
}

/* Set up the grid of main elements.*/
html, body {
    margin: 0;
    padding:0;
    background: var(--background-light);
    color: var(--text-color-dark);
    box-sizing: border-box;
}

body {
    font-family: var(--font-family-body);
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 0.7rem;
    margin: 0px;
    min-height: 100vh;
}

nav, main, footer {
    /* border: 1px solid var(--accent-color); */
}

/* Do nav stuff  */
nav {
    background: var(--background-dark);
    color: var(--primary-color);
    padding: 2em;
}

main{
    background: var(--background-light);
}

nav .content-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    padding: 0.5rem;
}

nav .logo {
    font-family: var(--font-family-stylized);
    font-size: var(--font-size-h1);
    font-weight: var(--font-weight-stylized);
}

nav ul.main-nav {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    gap: 3rem;
}

.main-nav li a {
    font-family: var(--font-family-stylized);
    font-weight: var(--font-weight-stylized);
    font-size: var(--font-size-large);
    text-decoration: none;
    color: var(--primary-color);
}

.main-nav li a:hover {
    color: var(--accent-color);
}

.main-nav li a:visited {
    color: var(--primary-color);
}


/* Set up the main body  */
.content-wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem 1rem; /* Adjust padding for inner content */
}

/* Set up layouts */
/* First, we have a simple pic with text layout */
body.page-bio .bio-layout {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    align-items: center;
}

body.page-bio .bio-pic {
    width: 250px;
    max-width: 100%;
}

body.page-bio .bio-pic img {
    max-width: 100%;
    height: auto;   
    display: block; 
    border-radius: 90%;  /* Makes it circular */
    /* object-fit: cover;   /\* Ensures the image covers the area, cropping if aspect ratio doesn't match *\/ */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

body.page-teaching h4 {
    font-weight: var(--font-weight-normal);
    margin-bottom: 0.3rem;
}


/* Research layout */
body.page-research section.paper-layout {
    display: flex;
    gap: 1rem;
    /* justify-content: left; */
    flex-flow: column nowrap;
    align-items: center;
    padding: 1rem;
}

body.page-research .paper-pic {
    min-width: var(--paper-pic-size-phone);
    height: var(--paper-pic-size-phone);
    overflow: hidden;
}

body.page-research .paper-pic img {
    display: block;
    width: var(--paper-pic-size-phone);
}

body.page-research .paper-content {
    /* width: 200px; */
}

body.page-research .paper-title {
    margin-bottom: 0.4rem;
}

body.page-research .paper-content p {
    display: block;
    margin: 0;
    font-family: var(--font-family-heading); 
}

body.page-research p.paper-journal {
    font-style: italic;
}



/* Breakpoint 1 */
@media (min-width: 600px) {
    nav .content-wrapper {
	flex-direction: row;
	justify-content: space-between;
	padding: 1rem;
    }

    nav ul.main-nav {
	flex-direction: row;
	gap: 1rem;
    }
    nav .logo {
	font-size: var(--font-size-logo);
    }


    body.page-research section.paper-layout {
	display: flex;
	gap: 1rem;
	flex-direction: row;
	padding: 1rem;
    }

    body.page-research .paper-pic {
	min-width: var(--paper-pic-size);
	height: var(--paper-pic-size);
	overflow: hidden;
    }

    body.page-research .paper-pic img {
	display: block;
	width: var(--paper-pic-size);
    }

    
}

@media (min-width: 900px) {
    body.page-bio .bio-layout {
	flex-direction: row;
	/* align-items: top; */
	justify-content: center;
	gap: 3rem;
    }

    body.page-bio .bio-pic {
	width: 300px;
	max-width: 100%;
    }

}
